body {
    margin: 50x;
    padding: 50px;
}

#ca {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1px;
    padding-top: 1px;
}

.cell {
    border: none;
    background-color: #fff;
    margin-right: 1px;
    margin-bottom: 1px;
    flex: 0 0 auto;
}

.cell.on {
    background-color: #000;
}