body {
    margin: 10x;
    padding: 10px;
}

#ca {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1px;
    padding-top: 1px;
}

.cell {
    border: none;
    background-color: #fff;
    margin-right: 1px;
    margin-bottom: 1px;
    flex: 0 0 auto;
}

.cell.on {
    background-color: #000;
}

.controls {
    margin-top: 10px;
}

#buttonNext {
    background-color: #ddd;
    color: #000;
    border: none;
    padding: 5px;
}
#buttonNext:hover {
    background-color: #ccc;
}
#buttonNext:active {
    background-color: #bbb;
}
